<launch>

  <arg name="namespace" default="hummy"/>

  <include file="$(find vicon_bridge)/launch/vicon.launch" />

  <group ns="$(arg namespace)" >

    <rosparam file="$(find mav_startup)/parameters/mavs/hummy_student/controller_parameters.yaml" ns="fcu"/>
    <node name="fcu" pkg="asctec_hl_interface" type="hl_node" output="screen" respawn="true" clear_params="true">       
      <param name="frame_id" value="fcu" />
      <rosparam file="$(find mav_startup)/parameters/mavs/hummy_student/fcu_parameters.yaml" />
      <rosparam file="$(find mav_startup)/parameters/mavs/hummy_student/ssdk_parameters.yaml" />
      <param name="capability_group" value="Core"/>       
    </node>
    <node name="fcu_xbee" pkg="asctec_hl_interface" type="hl_node" output="screen" respawn="true" clear_params="true">       
      <param name="frame_id" value="fcu" />
      <rosparam file="$(find mav_startup)/parameters/mavs/hummy_student/fcu_parameters.yaml" />
      <rosparam file="$(find mav_startup)/parameters/mavs/hummy_student/ssdk_parameters.yaml" />
      <param name="fcu/serial_port_rx" value="/dev/ttyUSB1" />
      <param name="fcu/serial_port_tx" value="/dev/ttyUSB2" />
      <param name="fcu/baudrate" value="57600" />
      <param name="capability_group" value="Core"/>       
    </node>

    <node name="msf" pkg="msf_updates" type="pose_sensor" clear_params="true" output="screen">
      <remap from="msf_updates/transform_input" to="/vicon/hummy_student/hummy_student" />
      <remap from="msf_core/hl_state_input" to="/hummy/fcu/ekf_state_out" />
      <remap from="msf_core/correction" to="/hummy/fcu/ekf_state_in"/>
      <rosparam file="$(find mav_startup)/parameters/mavs/hummy_student/vicon_msf.yaml"/>
      <param name="capability_group" value="Core"></param>
    </node>

    <node name="throw_controller" pkg="throw_controller" type="throw_control_node" clear_params="true" output="screen">
      <rosparam file="$(find highlevel_controller)/parameters/highlevelctrl_parameters.yaml"/>
      <remap from="/hummy/fcu/path_segments" to="/hummy/path_segments" />
       <param name="capability_group" value="Core"></param>
    </node>

  <!-- <include file="$(find highlevel_controller)/launch/highlevel.launch" />
       <param name="capability_group" value="Core"></param> -->

    <node name="highlevel_controller" pkg="highlevel_controller" type="control_node" clear_params="true" output="screen">
      <rosparam file="$(find highlevel_controller)/parameters/highlevelctrl_parameters.yaml"/>
      <remap from="/hummy/fcu/path_segments" to="/hummy/path_segments" />
      <param name="capability_group" value="Core"></param>
    </node>

    <node name="joy" pkg="joy" type="joy_node" output="screen" respawn="true" clear_params="true">
      <param name="capability_group" value="Core"></param>
      <remap from="/hummy/joy" to="/hummy/fcu/joy" />
    </node>

  </group>

</launch>
