<launch>
  <arg name="mav_name" default="euroc6" />

  <group ns="$(arg mav_name)">
    <node name="mav_saver_$(arg mav_name)" pkg="mav_saver" type="mav_saver_node" clear_params="true" output="screen" >
      <remap from="transform" to="vrpn_client/pose" />
      <param name="measurement_divisor" value="10" />
      <param name="obstacle_octomap_path" value="res/LeoC6_no_floor.bt" />
      <param name="enable_collision_constraint" value="false" />
      <param name="kill_switch_port_name" value="/dev/ttyUSB_kill_switch" />
      <param name="serial_port" value="/dev/ttyUSB_$(arg mav_name)" />
    </node>
  </group>

  <include file="$(find ros_vrpn_client)/launch/asl_vicon.launch">
    <arg name="object_name" value="$(arg mav_name)" />
  </include>

<node pkg="tf" type="static_transform_publisher" name="vicon_broadcaster" args="0 0 0 0 0 0 1 world vicon 100" />
</launch>
