<launch>
  <arg name="object_name" value="bluebird" />

  <group ns="$(arg object_name)">
    <node name="mav_saver" pkg="mav_saver" type="mav_saver_node" clear_params="true" output="screen" >
      <remap from="transform" to="vrpn_client/pose" />
      <param name="measurement_divisor" value="10" />
      <param name="obstacle_octomap_path" value="res/lee.bt" />
    </node>
  </group>

  <include file="$(find ros_vrpn_client)/launch/asl_vicon.launch">
    <arg name="object_name" value="$(arg object_name)" />
  </include>

<node pkg="tf" type="static_transform_publisher" name="vicon_broadcaster" args="0 0 0 0 0 0 1 world vicon 100" />
</launch>
