<launch>
  <include file="$(find openni_camera)/launch/openni_node.launch" />
  <include file="$(find microstrain_3dmgx2_imu)/microstrain_3dmgx2.launch" />
  <param name="/microstrain_3dmgx2_node/time_offset" value="-0.04" />
  <param name="/openni_node1/image_mode" value="2" />
  <param name="/openni_node1/depth_mode" value="2" />
  <param name="/openni_node1/depth_time_offset" value="-0.04" />
  <param name="/openni_node1/image_time_offset" value="-0.04" />

  <group ns="okvis">
    <node name="okvis_node" pkg="okvis_node" type="okvis_node_run" output="screen">
      <rosparam file="$(find okvis_node)/config_kinect.yaml" />
    </node>
  </group>

</launch>
