<launch>
  <arg name="mav_name" default="firefly" />
  <arg name="enable_logging" default="false" />
  <arg name="enable_ground_truth" default="true" />
  <arg name="log_file" default="$(arg mav_name)" />

  <group ns="$(arg mav_name)">

    <node name="trajectory_sampling" pkg="mav_planning_utils" type="trajectory_sampling_node" output="screen"/>

    <node name="task3" pkg="euroc_task3" type="task3_server_node" output="screen">
      <remap from="vrpn_client/pose" to="ground_truth/transform" />
      <param name="half_score_service_name" value="/$(arg mav_name)/task3_eval_node/half_score"/>
    </node>

    <node name="task3_eval_node" pkg="euroc_task3" type="task3_eval_node" output="screen">
    <remap from="vrpn_client/pose" to="ground_truth/transform" />
    <remap from="saver_constraints_violated" to="/saver_constraints_violated" />
  </node>

  </group>

  <include file="$(find mav_saver)/launch/mav_saver_rotors.launch" />

</launch>

