<launch>
  <arg name="mav_name" default="firefly" />
  <arg name="room_name" default="LeoC6" />

  <node name="mav_saver" pkg="mav_saver" type="mav_saver_node" clear_params="true" output="screen" >
    <remap from="odometry" to="/$(arg mav_name)/ground_truth/odometry" />
    <param name="measurement_divisor" value="10" />
    <param name="enable_collision_constraint" value="true" />
    <param name="kill_switch_port_name" value="/dev/ttyUSB_kill_switch" />
    <param name="serial_port" value="/dev/ttyUSB_$(arg mav_name)" />
    <param name="capability_group" value="MAV Saver"></param>
  </node>

  <node name="ground_truth_octree" pkg="ground_truth_octree" type="ground_truth_octree_node" output="screen">
    <param name="capability_group" value="MAV Saver"></param>
    <param name="resolution" value="0.05"></param>
    <param name="visualize_max_z" value="4.0"></param>
    <param name="visualize_min_z" value="-1.0"></param>
  </node>

  <include file="$(find vicon_room_simulator)/launch/vicon_room_simulator.launch" />
</launch>
