<launch>
	<arg name="namespace" default="auk"/>	
    <arg name="location" default="ethz_cla_roof"/>

    <include file="$(find mav_startup)/launch/gps_reference.launch">
        <arg name="location" value="$(arg location)"/>
    </include>
    
    <rosparam file="$(find mav_startup)/parameters/capabilities.yaml"/>

	<group ns="$(arg namespace)" >
	    
        <group ns="down">
	        <!-- camera -->
			<include file="$(find mav_startup)/launch/cam_bluefox.launch" >             
				<arg name="guid_file" value="$(find mav_startup)/parameters/mavs/auk/cam_down_guid.yaml"/> 
			</include>
			
            <!-- ptam -->
	        <include file="$(find mav_startup)/launch/ptam.launch">       
	            <arg name="cam_calib_file" value="$(find mav_startup)/parameters/mavs/auk/cam_down_calib.yaml"/> 
	        </include>
	        
            <include file="$(find mav_startup)/launch/apriltag.launch"></include>

            <!--undistort-->
            <group ns="camera">
                <node name="image_proc" pkg="image_proc" type="image_proc" clear_params="true" output="screen">
                    <param name="capability_group" value="Computer Vision"/>
                </node>
            </group>
        </group>
        
        <!-- sensor fusion -->
        <include file="$(find mav_startup)/launch/sensor_fusion.launch" >             
		<arg name="dekf_params_file" value="$(find mav_startup)/parameters/mavs/auk/dekf.yaml"/> 
	</include>    


		<node name="ptam_filter" pkg="ssf_updates" type="pose_sensor"  respawn="true" clear_params="true" output="screen">
			<remap from="ssf_core/hl_state_input" to="fcu/ekf_state_out" />
			<remap from="ssf_core/correction" to="fcu/ekf_state_in" />
			<remap from="ssf_core/pose_measurement" to="down/vslam/pose" />
    		<rosparam file="$(find mav_startup)/parameters/mavs/auk/dekf.yaml"/>
    		<param name="capability_group" value="Sensor Fusion"></param>
		</node>
        
        <node name="apriltag_filter_new" pkg="msf_updates" type="pose_sensor"  respawn="true" clear_params="true" output="screen">
            <remap from="msf_core/hl_state_input" to="fcu/ekf_state_out" />
            <!--remap from="msf_core/imu_state_input" to="fcu/imu" /-->
            <remap from="msf_core/correction" to="fcu/ekf_state_in" />
            <remap from="msf_updates/pose_with_covariance_input" to="down/apriltag/pose" />
            <rosparam file="$(find mav_startup)/parameters/mavs/auk/dekf.yaml"/>
            <param name="capability_group" value="Sensor Fusion"></param>
        </node>
        
		<node name="ptam_filter_msf" pkg="msf_updates" type="pose_sensor"  respawn="true" clear_params="true" output="screen">
			<remap from="msf_core/hl_state_input" to="fcu/ekf_state_out" />
			<remap from="msf_core/correction" to="fcu/ekf_state_in" />
			<remap from="msf_updates/pose_with_covariance_input" to="down/vslam/pose" />
			<rosparam file="$(find mav_startup)/parameters/mavs/auk/dekf.yaml"/>
			<param name="capability_group" value="Sensor Fusion"></param>
		</node>
		
		<node name="vicon_filter_msf" pkg="msf_updates" type="pose_sensor"  respawn="true" clear_params="true" output="screen">
			<remap from="msf_core/hl_state_input" to="fcu/ekf_state_out" />
			<remap from="msf_core/correction" to="fcu/ekf_state_in" />
        <remap from="msf_updates/transform_input" to="/vicon/asl/asl" />
			<rosparam file="$(find mav_startup)/parameters/viconpos_sensor_fix.yaml"/>
			<param name="capability_group" value="Sensor Fusion"></param>
		</node>
		
		<node name="leica_filter_msf" pkg="msf_updates" type="position_sensor"  respawn="true" clear_params="true" output="screen">
			<remap from="msf_core/hl_state_input" to="fcu/ekf_state_out" />
			<remap from="msf_core/correction" to="fcu/ekf_state_in" />
	                <remap from="msf_updates/position_input" to="/leica/position" />
			<rosparam file="$(find mav_startup)/parameters/mavs/auk/dekf.yaml"/>
			<param name="capability_group" value="Sensor Fusion"></param>
		</node>
    
        <!-- joystick interface -->
        <node name="mav_joy" pkg="mav_joy" type="mav_joy" output="screen" respawn="true" >
            <param name="v_max_yaw" value="90.0"/>
            <param name="ptam_name" value="down/ptam"/>
            <param name="sensor_fusion_name" value="ptam_filter"/>
            <remap from="vslam/key_pressed" to="down/vslam/key_pressed"/>
            <remap from="fcu/control_body" to="fcu/control"/>
            <param name="capability_group" value="Core"/>
        </node>

        <!-- imu -->  
        <rosparam file="$(find mav_startup)/parameters/mavs/auk/controller_parameters.yaml" ns="fcu"/>
        <include file="$(find mav_startup)/launch/imu.launch" >            
          <arg name="fcu_params_file" value="$(find mav_startup)/parameters/mavs/auk/fcu_parameters.yaml"/>
		   </include>
        
        <!-- gps conversion -->
        <include file="$(find mav_startup)/launch/gps_conversion.launch"/>
        
        <!-- polynomial sampling node -->
        <node name="waypoint_sampling" pkg="mav_planning_utils" type="polynomial_sampling_node" respawn="true" output="screen"/>
        
	</group>
</launch>
