<launch>
  <arg name="namespace" default="bluebird"/>

  <rosparam file="$(find mav_startup)/parameters/capabilities.yaml"/>

  <group ns="$(arg namespace)" >
      <node name="bluebird" pkg="asctec_hl_interface" type="hl_node" output="screen" respawn="true" clear_params="true">
        <param name="frame_id" value="fcu" />
        <rosparam file="$(find mav_startup)/parameters/mavs/bluebird/fcu_parameters_aslam.yaml" />
        <rosparam file="$(find mav_startup)/parameters/mavs/bluebird/ssdk_parameters_aslam.yaml" />
        <param name="capability_group" value="Core"/>
      </node>

      <node name="visensor_node" pkg="visensor_node" type="visensor_node" output="screen">
        <param name="capability_group" value="Core" />
      </node>

      <node name="pose_sensor" pkg="msf_updates" type="pose_sensor" clear_params="true" output="screen">
        <remap from="msf_core/hl_state_input" to="fcu/ekf_state_out" />
        <remap from="msf_core/correction" to="fcu/ekf_state_in" />
        <remap from="msf_updates/transform_input" to="aslam/aslam_transform" />
        <rosparam file="$(find mav_startup)/parameters/mavs/bluebird/msf_parameters_aslam.yaml"/>
        <param name="capability_group" value="Sensor Fusion" />
      </node>


      <node name="aslam_node" pkg="aslam_node" type="aslam_node_run" output="screen">
        <rosparam file="$(find mav_startup)/parameters/mavs/bluebird/p21014_equidistant.yaml" />
        <param name="map_api_interface" value="true" />
        <param name="capability_group" value="Sensor Fusion" />
      </node>
    </group>
</launch>
