<launch>
  <arg name="mav_name" default="euroc6"/>
  <arg name="namespace" default="$(arg mav_name)" />

  <group ns="$(arg namespace)" >
      <node name="mav_interface" pkg="ethzasl_mav_interface" type="mav_interface_node"
        output="screen" respawn="true" clear_params="true">
        <param name="frame_id" value="fcu" />
        <rosparam file="$(find euroc_launch)/parameters/$(arg mav_name)/mav_interface.yaml"/>
      </node>

      <rosparam file="$(find euroc_launch)/parameters/common/visensor.yaml"/>
      <node name="visensor_node" pkg="visensor_node" type="visensor_node" output="screen" />

      <node name="pose_sensor_okvis" pkg="msf_updates" type="pose_sensor" clear_params="true" output="screen">
        <remap from="msf_core/imu_state_input" to="imu" />
        <remap from="msf_updates/transform_input" to="okvis_node/okvis_transform" />
        <rosparam file="$(find euroc_launch)/parameters/$(arg mav_name)/msf_parameters_okvis.yaml"/>
      </node>

      <node name="pose_sensor_vicon" pkg="msf_updates" type="pose_sensor" respawn="true" clear_params="true" output="screen">
        <remap from="msf_updates/transform_input" to="vrpn_client/pose" />
        <remap from="msf_core/imu_state_input" to="imu" />
        <rosparam file="$(find euroc_launch)/parameters/common/msf_parameters_vicon.yaml"/>
      </node>

      <node name="okvis_node" pkg="okvis_node" type="okvis_node" output="screen">
        <param name="config_filename" value="$(find euroc_launch)/parameters/$(arg mav_name)/okvis_cameras.yaml" />
        <remap from="/camera0" to="cam2/image_raw" />
        <remap from="/camera1" to="cam0/image_raw" />
        <remap from="/imu" to="imu0" />
      </node>

      <node name="mav_linear_mpc" pkg="mav_linear_mpc" type="mav_linear_mpc_node"  respawn="true" clear_params="true" output="screen">
        <remap from="odometry" to="msf_core/odometry" />
        <param name="control_interface/verbose" value="true"/>
        <rosparam file="$(find euroc_launch)/parameters/common/linear_mpc_neo.yaml"/>
      </node>
    </group>
</launch>
